{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h3 class="text-center">{{ title }}</h3>
                </div>
                <div class="card-body">
                    <div class="form-error">{{ form.non_field_errors }}</div>

                    <form method="post">
                        {% csrf_token %}
                        {% for f in form %}
                        <p>
                            <label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}:</label>
                            {{ f }}
                        </p>
                        <div class="form-error">{{ f.errors }}</div>
                        {% endfor %}
                        {% if next %}
                        <input type="hidden" name="next" value="{{ next }}">
                        {% endif %}

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Войти</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer text-center">
                    <a href="{% url 'users:register' %}" class="text-decoration-none">Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}